// Variables and their values for font-sizing
$smallest-sizing: 10px;
$smaller-sizing: 12px;
$small-sizing: 13px;
$medium-sizing: 14px;
$large-sizing: 18px;
$larger-sizing: 24px;
$largest-sizing: 36px;
$extralarge-sizing: 64px;


// Colors
$primary-color: #000000;
$secondary-color: #FF2546;
$tertiary-color: #BDBDBD;


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-size: $largest-sizing;
}

h3 {
    font-size: $larger-sizing;
}

h5 {
    font-size: $medium-sizing;
}

h6 {
    font-size: $small-sizing;
}

p {
    font-size: $smaller-sizing;
}

ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

li {
    @extend ul;

    font-style: normal;
    font-weight: 600;
    font-size: $medium-sizing;
}