.our-work {
    display: flex;
    justify-content: space-between ;

    .us {
        width: 50%;
    }  
    
    .post-filterer{
        display: flex;
        gap: 8px;
        align-items: center;
        margin-right: 14.8rem;
        margin-top: 2.5rem;
    }

    .filter {
        color: $primary-color;
        font-weight: 600;
    }

    .posts {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #ffff;
    }
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.feature-1 {
        display: flex;
        flex-direction: column;
        width: 50%;

        h3 {
            margin-top: 10px;
        }
    
        .tags {
            line-height: 16px;
            width: 74%;
            margin-top: -10px;
        }
    
        .expand {
            width: 75%;
            display: flex;
            gap: 70%;
            align-items: center;
        }
    
        .business{
            color: $tertiary-color;
            font-weight: 600;
        }   
    
        .read-more {
            display: flex;
            line-height: 10px;
            align-items: center;
        } 

        .read-more p {
            color: $secondary-color;
        }
    
}

.feature-2 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .graph {
        width: 68%;
        height: 63%;
    }

    h3 {
        font-size: larger;
    }

    .tags {
        width: 52%;
        line-height: 14px;
        margin-top: 1px;
    }

    .expand {
        width: 75%;
        display: flex;
        gap: 60%;
        align-items: center;
    }

    .business{
        color: $tertiary-color;
        font-weight: 600;
    }

    .read-more {
        display: flex;
        line-height: 10px;
        align-items: center;
    } 

    .read-more p {
        color: $secondary-color;
    }
}

.feature-3 {
    
    .glass-img {
        height: 50%;
        width: 70%;
    }

    h3 {
        width: 61%;
        margin-left: 8px;
    }

    p {
        width: 52%;
        line-height: 14px;
        margin-top: -1px;
        margin-left: 8px;
    }

    .expand {
        width: 75%;
        display: flex;
        gap: 60%;
        align-items: center;
    }

    .business{
        color: $tertiary-color;
        font-weight: 600;
    }

    .read-more {
        display: flex;
        line-height: 10px;
        align-items: center;
    } 

    .read-more p {
        color: $secondary-color;
    }
}