.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
    align-items: center;

    .navigation {
        color: $primary-color;
        display: flex;
        gap: 30px;
        margin-right: 14.25rem;

        a {
            color:  $primary-color;
        }

        .blog a {
            color: $tertiary-color;
        }
    }
}
